{% block comment_layout %}
{% for comment in article.comments %}
<li class="db-wrapper db-container db-panel db-card">
  <a href="{{ path('display_user', {user_id:comment.user.id}) }}"><b>{{ comment.user.username }}</b></a>
  <div>
    <span class="db-subtitle">{{ comment.rating }}</span>
    <span>{{ include('comment/rating_widget.html.twig') }}</span>
  </div>
  <div class="db-subtitle">{{ comment.datetime|format_date() }}</div>
  <p>{{ comment.body }}</p>
</li>
{% endfor %}
{% endblock %}