{% block navbar %}
<div class="db-bar" id="navbar">
  <a class="db-button" href="{{ path('home') }}">Home</a>
  <a class="db-button" href="{{ path('create_article') }}">Write</a>
  <span class="db-right">
    {% if app.user %}
      <span class="db-dropdown">
        <button class="db-button">{{ app.user.username }}</button>
        <div class="db-dropdown-content db-card" style="right:0;">
          <a class="db-button db-bar-item" href="{{ path('app_logout') }}">Logout</a>
        </div>
      </span>
    {% else %}
      <a href="{{ path('app_login') }}" class="db-button">Login</a>
    {% endif %}
  </span>
</div>

<script>
  window.addEventListener('load', function() {
    select_route();
  })

  function select_route() {
    const button = document.getElementById({{ route_name|json_encode()|raw }});
    if (button != null)
    {
      button.classList.add('db-button-route');
    }
  }

  function toggle_menu() {
    const menu = document.querySelector('#navbar');
    if (menu.classList.value.includes('db-menu-opened'))
    {
      menu.style.display = 'none';
      menu.classList.remove('db-menu-opened');
    } else {
      menu.style.display = 'block';
      menu.classList.add('db-menu-opened');
    }
  }
</script>
{% endblock %}