{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="db-panel db-half">
  {% for article in articles %}
    <div class="db-panel db-card">
      <a class="db-title" href="{{ path('display_article', { article_id: article.id }) }}">{{ article.title }}</a>
      <p class="db-subtitle">{{ article.rating ~ ' ' ~ article.user.username ~ ' ' ~ article.datetime|format_date() }}</p>
      {{ article.summary }}
      <li>
        {% for tag in article.tags %}
          <p class="db-tag-label">{{ tag.tag.name }}</p>
        {% endfor %}
      </li>
    </div>
  {% endfor %}
</div>
{% endblock %}
